services:
  api:
    build: .
    container_name: djiguiya_backend
    ports:
      - '3000:3001'
    environment:
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: password
      DATABASE_NAME: djiguiya
      JWT_SECRET: supersecretkey
    volumes:
      - ./src:/usr/src/app/src # Sync local source files to container
      # - ./package.json:/usr/src/app/package.json # Ensure changes to package.json are reflected
      # - ./package-lock.json:/usr/src/app/package-lock.json # Optional, if lockfile changes need to sync
    depends_on: 
      - db

  db:
    image: postgres
    container_name: djiguiya_db
    ports:
      - '5432:5432'
    environment: 
      POSTGRES_DB: djiguiya
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes: 
      - db_data:/var/lib/postgresql # Updated mount point

volumes: 
  db_data:


